<div class="p-4 flex bg-white rounded-md shadow-sm" [ngClass]="{ 'task-disabled': status === 'completed' }">
	<div>
		<mat-checkbox (change)="toggleTaskStatus($event.checked)" [checked]="status === 'completed' ? true : false" />
	</div>
	<div class="w-full">
		<div class="mt-2 mb-4 line-through-custom">{{ title }}</div>
		<div class="line-through-custom">{{ description }}</div>
		<div class="flex justify-between w-ful">
			<div class="flex items-center mt-4 bg-green-500 px-2 rounded-full tw-h-[20px]">
				<div class="text-[9px] line-through-custom">{{ createAt }}</div>
			</div>
			<div class="flex gap-2">
				<button mat-icon-button (click)="deleteTask()">
					<mat-icon class="text-blue-950">delete</mat-icon>
				</button>
				<button mat-icon-button (click)="editTask()">
					<mat-icon class="text-blue-950">edit</mat-icon>
				</button>
			</div>
		</div>
	</div>

	<mat-divider></mat-divider>
</div>
