<form [formGroup]="taskForm" (ngSubmit)="save()" class="form">
	<div class="flex flex-col gap-3">
		<mat-form-field appearance="outline" class="mt-4">
			<mat-label>Title</mat-label>
			<input matInput placeholder="title" formControlName="title" required />
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label>Description</mat-label>
			<input matInput placeholder="description" formControlName="description" required />
		</mat-form-field>

		<div class="flex justify-between gap-3">
			<button mat-button color="primary" (click)="close()">Cancelar</button>

			<app-button-sync mat-flat-button extended type="submit" [isLoading]="isLoading" [classes]="'form-button'">
				<mat-icon>save</mat-icon>
				Agregar
			</app-button-sync>
		</div>
	</div>
</form>
